
<div class="box">
  <form [formGroup]="commentForm" (ngSubmit)="onComment()">
    <article class="media">
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea formControlName="comment" class="textarea" placeholder="Add a comment..."
              [ngClass]="{'is-danger':
              commentForm.controls.comment.errors
              && commentForm.controls.comment.touched
              && commentForm.controls.comment.dirty}"></textarea>
            <ng-container *ngIf="commentForm.controls.comment.errors
                                && commentForm.controls.comment.touched
                                && commentForm.controls.comment.dirty">
              <p class="subtitle has-text-danger is-6 comment-error" *ngIf="commentForm.controls.comment.errors.required">No input detected</p>
              <p class="subtitle has-text-danger is-6 comment-error" *ngIf="commentForm.controls.comment.errors.maxlength">Maximum characters(280) for comment exceeded</p>
            </ng-container>
          </p>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-success" type="submit" [disabled]="commentForm.invalid">Post</button>
          </div>
          <div class="control">
            <button class="button is-warning" type="button" (click)="onClickReset()">Reset</button>
          </div>
        </div>
      </div>
    </article>
  </form>
</div>

<div class="box" *ngFor="let post of posts$ | async">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img class="is-rounded" src="assets/avatar.PNG">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>
            <a [routerLink]="['users/profile/', post?.userId]">
              {{ post?.firstName }} {{ post?.lastName }}
            </a>
          </strong>
          <small> · {{ post?.email }}</small>
          <br>
          {{ post?.content }}
          <br>
        </p>
      </div>
    </div>
  </article>
</div>